.masthead {
    min-height: 30rem;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-masthead.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 5.5rem;
    }
}

footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* output style  */

.main-area-wrapper {
    height: 80vh;
}

.main-area {
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0 20px;
    background-size: cover;
    box-shadow: 2px 5px 30px rgba(0, 0, 0, .3);
    color: #fff;
}

.main-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .3;
    background: #000;
}

.main-area .desc {
    margin: 20px auto;
    max-width: 500px;
}

.main-area .notify-btn {
    margin: 20px 0;
    padding: 13px 35px;
    border-radius: 50px;
    border: 2px solid #F84982;
    color: #fff;
    background: #F84982;
}

.main-area .notify-btn:hover {
    background: none;
}

/* main things */

h1, h3, p, a, ul, span, li {
    margin: 0;
    padding: 0;
}

h1, h3 {
    line-height: 1.5;
    font-weight: inherit;
}

h1, h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    line-height: 1.6;
    font-size: 1.05em;
    font-weight: 400;
    color: #555;
}

h1 {
    font-size: 3.5em;
    line-height: 1;
}

h3 {
    font-size: 2.5em;
}

a, button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
    line-height: 1;
}

a:focus, a:active, a:hover, button:focus, button:active, button:hover, a b.light-color:hover {
    text-decoration: none;
    color: #E45F74;
}

b {
    font-weight: 500;
}

li {
    list-style: none;
    display: inline-block;
}

span {
    display: inline-block;
}

button {
    outline: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

b.light-color {
    color: #444;
}

.icon {
    font-size: 1.1em;
    display: inline-block;
    line-height: inherit;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    line-height: inherit;
}

.main-area-wrapper
/* TIME COUNTDOWN */

#normal-countdown {
    text-align: center;
}

#normal-countdown .time-sec {
    position: relative;
    display: inline-block;
    margin: 12px;
    height: 90px;
    width: 90px;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, .5);
    background: #fff;
    color: #333;
}

#normal-countdown .time-sec .main-time {
    font-weight: 500;
    line-height: 70px;
    font-size: 2em;
    color: #F84982;
}

#normal-countdown .time-sec span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .9em;
    font-weight: 600;
}

.main-area .social-btn {
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.main-area .social-btn .list-heading {
    display: block;
    margin-bottom: 15px;
}

.main-area .social-btn>li>a>i {
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 40px;
    font-size: 1.04em;
    margin: 0 5px;
}

.main-area .social-btn>li>a>i:hover {
    background: #fff!important;
}

.center-text {
    text-align: center;
}

.display-table {
    display: table;
    height: 100%;
    width: 100%;
    padding: 100px 0;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

::-webkit-input-placeholder {
    font-size: .9em;
    letter-spacing: 1px;
}

::-moz-placeholder {
    font-size: .9em;
    letter-spacing: 1px;
}

:-ms-input-placeholder {
    font-size: .9em;
    letter-spacing: 1px;
}

:-moz-placeholder {
    font-size: .9em;
    letter-spacing: 1px;
}

.full-height {
    height: 100%;
}

.position-static {
    position: static;
}

.font-white {
    color: #fff;
}

/* loading */

.animate-bottom {
    position: relative;
    animation-name: animatebottom;
    animation-duration: 2s
}

@keyframes animatebottom {
    from {
        bottom: 100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}